# 操作系统
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode
.idea

# Rails 默认
/.bundle
/db/*.sqlite3*
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/storage/*
!/storage/.keep
.byebug_history
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/config/master.key

# 临时文件
/spring/*.pid
/vendor/bundle
/public/uploads

# 安全
/config/application.yml
/.env
# 1）.gitignore 专用
# /kube/env/*
# !/kube/env/*.example
# !/kube/env/configmap.yaml
# 2）.dockerignore 专用
/.git
/kube
