---
apiVersion: v1
kind: Secret
metadata:
  name: rails6-env
data:
  RAILS_MASTER_KEY: Y29uZmlnX21hc3Rlcl9rZXk=
  POSTGRES_USER: dXNlcg==
  POSTGRES_PASSWORD: cGFzc3dvcmQ=
  REDIS_URL: cmVkaXM6Ly86cGFzc3dvcmRAaG9zdDo2Mzc5Lw==
  REDIS_PASSWORD: cGFzc3dvcmQ=
