---
apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6eyJodHRwczovL2luZGV4LmRvY2tlci5pby92MS8iOnsidXNlcm5hbWUiOiJ5b3VyLW5hbWUiLCJwYXNzd29yZCI6InlvdXItcHdvcmQiLCJlbWFpbCI6InlvdXItZW1haWwiLCJhdXRoIjoiZVc5MWNpMXVZVzFsT25sdmRYSXRjSGR2Y21RPSJ9fX0=
kind: Secret
metadata:
  name: rails6-docker-hub
type: kubernetes.io/dockerconfigjson
